# Vscode project files
.vscode/

# Files and directories created by pub
.packages
.pub/
build/
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Directory created by dartdoc
doc/api/

# yarn logs
yarn-error.log

# nodejs modules
node_modules/

# parcel cache
.cache/
